<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Focus Point Game</title>
  </head>

  <script src = "{{ url_for('static', filename = 'mustache.min.js') }}" ></script>
  <script src = "{{ url_for('static', filename = 'jquery-3.2.1.min.js') }}" ></script>
  <script src = "{{ url_for('static', filename = 'jquery.cookie.js') }}" ></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href = "{{ url_for('static', filename = 'w3mobile.css') }}" ></link>
  <link rel="stylesheet" href = "{{ url_for('static', filename = 'w3.css') }}" ></link>

  <style>
    #player_name {
      display: block;
      margin:5px;
      padding: 0px;
      border: 0px;
      outline: none;
      height:40px;
      width: calc(100% - 10px);
      font-size:25px;
      text-align: center;
      color:white;
      background-color:inherit;
    }
  </style>

  <script>
    var poll_timer = setInterval(poll_game_engine,500)
    var player_name = ""


    function poll_game_engine()
    {
      var address =  window.location.href +"game_state.json"
      $.getJSON(address,update)
    }

    function update(json_data)
    {
      if (json_data.ok)
      {
        if(player_name != json_data.player_name)
        {
          $("#player_name").val( json_data.player_name)
          player_name = json_data.player_name
        }

      }
      else {
        location.reload()
      }
    }

    function post_player_data(player_data)
    {
      var address =  window.location.href +"player_data"
      $.post(address,player_data)
    }

    function player_name_changed()
    {
      var new_player_name = $("#player_name").val()
      post_player_data({player_name: new_player_name})
    }
  </script>


  <body>
    <div style="height:100hv">

      <div class="w3-container w3-center w3-blue">
        <input id="player_name"  type="text" onblur="player_name_changed();">
      </div>

      <div class="w3-container w3-red" style="flex: 0 1 auto;">
        <p>Lorem ipsum...</p>
      </div>

      <div class="w3-container w3-bottom w3-center w3-blue">
        <h3>Footer</h3>
      </div>

    </div>
  </body>
</html>
